.navbar{
    background-color: #3de5a7;
}

#miLogo{
    padding-left: 5%;
}

#miLogo a{
    font-size: 30px;
    color: aliceblue;
}

#miMenu ul li a{
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
}

.img-card{
    width: 80%;
    height: 90%;
}

.imgSlider{
    width: 100%;
}

a{
    font-size: 25px;
    color: aliceblue;
}

.iconos{
    font-size: 50px;
    color: gray;
}

.iconos2{
    font-size: 50px;
    color: #3de5a7;
}

#sec2{
    padding: 5% 20%;
}

#sec3{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#sec4{
    padding: 5% 20%;
}

#hl{
    padding: 5% 10%;
}

#hl h1{
    margin: 5%;
}

p{
    font-size: 20px;
}

#imgS{
    width: 105%;
    margin: 0;
    padding: 0;
}

footer{
    color: aliceblue;
    background-color: #3de5a7;
    padding-bottom: 0;
    padding-top: 10%;
}

#footerul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
}

.iconos3{
    font-size: 30px;
    color: aliceblue;
}

@media screen and (max-width: 480px) {
    #sec1{
        display: none;
    }

    #sec2{
        margin-top: 10%;
    }

    #sec3{
        display: none;
    }

    #footerul{
        display: none;
    }
}

@media screen and (max-height: 480px) and (orientation: landscape) {
    #sec1{
        display: none;
    }

    #sec2{
        margin-top: 5%;
    }

    #footerul{
        display: none;
    }
}